body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
} 


.bold {
    font-weight: bold;
  }
.normal {
    font-weight: normal;
  }
.italic {
    font-style: italic;
  }
.right {
    text-align: right;
  }
.center {
    text-align: center;
  }
.left {
    text-align: left;
  }